@model IEnumerable<PackingPlanner1.Models.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Items</h2>
@if (!Model.Any())
{
    <p>There are no items saved.</p>
}

else
{
    <table class="items table table-bordered table-hover" id="items-tbl">
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Quantity</td>
                    <td>@item.Category.Name</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Items", new { id = item.Id }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Packed", "Delete", "Items", new { id = item.Id }, new { @class = "btn btn-success" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section scripts 
{
    <script>
        $(document).ready(function () {
            $('#items-tbl').DataTable();
        });
    </script>
}


