@model PackingPlanner1.ViewModels.ItemFormViewModel

@{
    ViewBag.Title = "ItemForm";
}

<h2>New Item</h2>

@using (Html.BeginForm("Save", "Items"))
{
    @*@Html.ValidationSummary(true, "Please fix the following errors :")*@
    <div class="form-group">
        @Html.LabelFor(m => m.Item.Name)
        @Html.TextBoxFor(m => m.Item.Name, new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.Item.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Item.Quantity)
        @Html.TextBoxFor(m => m.Item.Quantity, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Item.Quantity)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Item.CategoryId)
        @Html.DropDownListFor(m => m.Item.CategoryId, new SelectList(Model.Category, "Id", "Name"), "Select Category", new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.Item.CategoryId)
    </div>
    @Html.HiddenFor(m => m.Item.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-info">Save</button>
}

<div class="row">
    @*<div class="col-md-6">
        <img src="~/Images/boxes2.png" alt="Boxes Image" id="boxes" class="img-responsive" />
    </div>*@
    <div class="col-md-5 col-md-push-7 col-sm-5">
        <img src="~/Images/weather.png" alt="Box Image" id="box" class="img-responsive" />
    </div>
</div>

<div class="row">
        <div class="col-md-6">
            <img src="~/Images/boxes2.png" alt="Boxes Image" id="boxes" class="img-responsive" />
        </div>
        @*<div class="col-md-3 col-md-push-8">
            <img src="~/Images/box6.png" alt="Full Box" id="fullbox" class="img-responsive" />
        </div>*@
    </div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
